[submodule "deps/tree-sitter"]
	path = deps/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "deps/tree-sitter-c"]
	path = deps/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
